@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500&display=swap');

.background-image {
    width: 100%;
  height: auto;
  margin-top: 20px;
  border-radius: 8px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
}

/* Container utama */
.container {
    text-align: center;
}

h1 {
    color: #333;
    font-size: 2.5em;
    margin-bottom: 20px;
}

/* Section Menu */
.menu-section {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}

/* Item Menu */
.menu-item {
    width: 160px;
    height: 210px;
    border: 2px solid #ddd;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s, box-shadow 0.3s;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 8px;
}

.menu-item:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
    -webkit-transform: scale(1.05);
    -moz-transform: scale(1.05);
    -ms-transform: scale(1.05);
    -o-transform: scale(1.05);
}

.menu-item img {
    width: 100%;
    height: auto;
    max-width: 90%; /* Perbesar gambar dengan max-width 90% */
    max-height: 90%; /* Perbesar gambar dengan max-height 90% */
    object-fit: contain;
}

.menu-item span {
    display: block;
    padding-top: 10px;
    font-size: 1.2em;
    color: #333;
    text-align: center;
    width: 100%;
}

.menu-item a {
    text-decoration: none;
    color: inherit;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
}

/* Responsive Design */
@media (max-width: 600px) {
    .menu-section {
        flex-direction: column;
        align-items: center;
    }
}
